video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.background {
  background: rgb(1, 175, 255);
  background: linear-gradient(
    162deg,
    rgba(1, 175, 255, 1) 0%,
    rgba(143, 1, 255, 1) 80%
  );
}

p {
  color: white;
}

.MuiBox-root {
  padding: 1em 8em !important;
}

@media screen and (max-width: 768px) {
  .MuiBox-root {
    padding: 1em 6em !important;
  }
}
