.container {
  height: 100%;
}

video {
  /* object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0; */
  
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

h1 {
  color: white;
}

/* .home-grid {
  position: relative;
  padding: "1em 3em";
}

@media only screen and (max-width: 768px) {
  .home-grid {
    background-color: lightblue;
  }
} */
